ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #8ac7f0;
    color: #fff;
    border-radius: 4px;
    margin-left: 40px;
  }
  
  ul li:hover {
    background-color: #3498db;
  }
  
  
 